<template>
  <div class="ui middle aligned divided list">
    <div class="ui header">{{header}} (<span :class="{'text--red': (urgent && list.length>=3)}">{{list.length}}</span>)</div>
    <div class="item" v-for="item in computedList" :key="item.id" :class="{done: item.done}">
      <div class="content" @click="selected(item)">
        {{item.title}}
      </div>
      <div class="right floated content" v-if="item.id === selectedItem && !item.done">
        <div class="ui green button" @click="done(item)">done</div>
        <div class="ui red button" @click="remove(item)">remove</div>
        <div class="ui yellow button" v-if="urgent" @click="setUrgent(item, false)">remove from urgent</div>
        <div class="ui yellow button" v-else @click="setUrgent(item, true)">to urgent</div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import { ITodoItem } from '@/interfaces/todo.item';
    import axios from 'axios';

    @Component
    export default class TodoList extends Vue {
        @Prop() private list!: Array<ITodoItem>;
        @Prop() private header!: string;
        @Prop() private urgent!: boolean;

        selectedItem = 0;

        get computedList() {
            return this.list.sort((a: ITodoItem, b: ITodoItem) => {
                if (a.done) {
                    return -1;
                } else if (b.done) {
                    return 1;
                } else {
                    return 0;
                }
            });
        }

        selected(item: ITodoItem) {
            this.selectedItem = this.selectedItem === item.id ? 0 : item.id;
        }

        done(item: ITodoItem): void {
            axios.post('/api/todo/done', {id: item.id}).then(() => {
                this.$emit('update');
            }).catch(() => {
                alert('Технически неполадки');
            });
        }

        remove(item: ITodoItem): void {
            axios.post('/api/todo/remove', {id: item.id}).then(() => {
                this.$emit('update');
            }).catch(() => {
                alert('Технически неполадки');
            });
        }

        setUrgent(item: ITodoItem, status: boolean): void {
            axios.post('/api/todo/urgent', {id: item.id, urgent: status}).then(() => {
                this.$emit('update');
            }).catch(() => {
                alert('Технически неполадки');
            });
        }
    }
</script>
<style>
  .ui.list .item .content {
    cursor: pointer;
    padding: 10px;
  }

  .ui.list .item.done .content {
    text-decoration: line-through;
  }

  .ui.list .item:hover {
    background: #f6f6f6;
  }
  .text--red{
    color: red;
  }
</style>
