<template>
  <div class="ui container">
    <div class="ui very padded segment">
      <div class="ui grid">
        <div class="eight wide column">
          <div class="ui segment">
            <TodoList :list="todos" header="Todos" :urgent="false" @update="setItems"/>
            <form class="ui action input fluid" @submit="add">
              <input type="text" placeholder="Add todo" v-model="addInput">
              <button class="ui green button " type="submit">Добавить</button>
            </form>
          </div>
        </div>
        <div class="eight wide column">
          <div class="ui segment">
            <TodoList :list="urgents" header="Urgent Todos" :urgent="true"  @update="setItems"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import { ITodoItem } from '@/interfaces/todo.item';
    import TodoList from '@/components/TodoList.vue';
    import axios from 'axios'

    @Component({
        components: {
            TodoList
        }
    })
    export default class Todo extends Vue {
        todoList: Array<ITodoItem> = [
        ];
        addInput = '';

        get todos() {
            return this.todoList.filter((item: ITodoItem) => {
                return !item.urgent;
            });
        }

        get urgents() {
            return this.todoList.filter((item: ITodoItem) => {
                return item.urgent;
            });
        }

        mounted(): void {
            this.setItems();
        }

        setItems(): Promise<void> {
            return axios.get('/api/todo/list').then((res): void => {
                this.todoList = res.data || [];
            }).catch(() => {
                alert('Технические неполдаки')
            });
        }

        add(e: Event){
            e.stopPropagation();
            e.preventDefault();
            if(this.addInput) {
                return axios.post('/api/todo/create', {title: this.addInput}).then(() => {
                    this.addInput = '';
                    this.setItems();
                }).catch(() => {
                    alert('Технические неполадки')
                    this.setItems()
                });
            }
            return false;
        }
    }

</script>
